.ChannelLive {
  overflow-x: hidden;
  padding-top: 50px;
  padding-left: 240px;
}

.containerChannel {
  padding: 20px 30px;
  display: flex;
  flex-shrink: 1;
}

.channelLivePicture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.channelLivePicture > img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.cardChannel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.channelLiveBody {
  padding-left: 10px;
}

.username {
  padding-bottom: 3px;
  width: 100px;
}

.username h1 {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.username h1:hover {
  color: #9050f0;
}

.infoUserChannel {
  display: flex;
  justify-content: space-between;
}

.infoUserChannel h2 {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 3px;
}

.infoUserChannel h3 {
  font-size: 15px;
  color: #772ce8;
  cursor: pointer;
  font-weight: 400;
}

.infoUserChannel h3:hover {
  color: #9050f0;
  text-decoration: underline;
}

.startAndView {
  display: flex;
}

.container-viewer,
.containerStreamStart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.viewerLive {
  padding: 0 3px;
  margin-bottom: 2px;
  width: 25px;
}

.startAndView > div > span {
  color: #a32f2d;
  font-weight: 500;
  letter-spacing: 1px;
}

.containerStreamStart p {
  margin-top: 1px;
  font-size: 15px;
}

@media screen and (max-width: 1200px) {
  .ChannelLive {
    padding: 0;
    margin: 0 0 0 55px;
  }
}

@media screen and (max-width: 810px) {
  .ChannelLive {
    padding-top: 50px;
  }
}

@media screen and (max-width: 650px) {
  .containerChannel {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .cardChannel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .startAndView {
    margin: 10px 0;
  }
}

@media screen and (max-width: 475px) {
  .ChannelLive {
    margin: 0;
  }
}
