@media screen and (max-width: 1200px) {
  .ResultGame {
    padding: 0;
    padding-top: 60px;
    margin: 0 55px;
  }
}

@media screen and (max-width: 400px) {
  .ResultGame {
    margin: 0;
  }
}

@media screen and (max-width: 520px) {
  .titleGame {
    padding: 15px;
  }

  .titleResultGame {
    font-size: 30px;
    margin: 5px 0;
  }

  .viewersResult {
    font-size: 15px;
    font-weight: 500;
    margin: 5px 0;
  }
}
