*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: color ease-in-out, background-color 0.3s ease-in-out;
}

body {
  background-color: #f7f7f8;
  color: #0e0e10;
}

.dark-mode {
  background: #0e0e10 !important;
  color: #fff;
}
